.vector1 {
  background-color: black;
  position: absolute;
  top: 500px;
  left: 1000px;
}
.container-cover {
  position: relative;
}
.vector2 {
  background-color: black;
  position: absolute;
  top: 500px;
  left: 500px;
}
