@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

.host-cover {
  border-radius: 100px;
  width: 64px;
  @include mixins.respond-to(M) {
    width: 32px;
  }
}
.host {
  color: variables.$bg-color;
  width: 90px;
  text-align: end;
  font: {
    font-size: variables.$font-text;
    font-weight: variables.$weight;
  }
  @include mixins.respond-to(M) {
    font-size: variables.$font-responsive-2;
  }
}
