/* Variables Couleur */

$bg-color: rgba(255, 96, 96, 1);
$text-color: #fff;
$text-color2: #000;
$text-color3: rgba(255, 96, 96, 1);
$text-color-header: #000;
$footer-bg: #000;
$header-bg: #fff;
$collapse-bg: rgba(246, 246, 246, 0.45);
$color-star: rgba(227, 227, 227, 1);

/* Typographie */

$font-main: Montserrat;
$font-text: 18px;
$font-middle-size: 24px;
$font-title: 48px;
$weight: 500;
$font-responsive: 16px;
$font-responsive-2: 12px;
$font-responsive3: 10px;
$font-size-footer: 16px;

/* Espacement et tailles */

$container-max-width: 1240px;

/* Break Responsive */

$breakpoint-M: 768px;
$breakpoint-T: 992px;
