@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

.collapse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1023px;
  margin-bottom: 10px;
  background: variables.$collapse-bg;
  @include mixins.respond-to(T) {
    width: 600px;
  }
  @include mixins.respond-to(M) {
    width: 335px;
  }
  .content {
    color: variables.$text-color2;
  }

  .arrow-collapse {
    width: 24px;
    height: 13px;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
    @include mixins.respond-to(M) {
      width: 16px;
      height: 9px;
    }
  }
  .arrow-collapse.open {
    transform: rotate(-180deg);
  }
  .title-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: variables.$text-color;
    background: variables.$bg-color;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    font: {
      weight: 700;
      size: 24px;
    }
    @include mixins.respond-to(M) {
      height: 30px;
      font: {
        size: 13px;
      }
    }
  }
  .content {
    background: variables.$collapse-bg;
    margin-top: 15px;
    font: {
      size: 18px;
    }
    @include mixins.respond-to(M) {
      font: {
        size: 12px;
      }
    }
  }
}
