@use "../../styles/abstracts/" as abstracts;

$color: #fff;

$family: Montserrat;

.collapse {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1023px;
  @media (max-width: 1023px) and (min-width: 770px) {
    width: 600px;
  }
  @media (max-width: 769px) {
    width: 335px;
  }

  .arrow-collapse {
    width: 24px;
    height: 13px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    @media (max-width: 769px) {
      width: 16px;
      height: 9px;
    }
  }
  .arrow-collapse.open {
    transform: rotate(-180deg);
  }
  .title-collapse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color;
    background: abstracts.$bg-color;
    border-radius: 5px;
    height: 50px;
    padding-left: 10px;
    margin-top: 15px;
    font: {
      family: $family;
      weight: 700;
      size: 24px;
    }
    @media (max-width: 769px) {
      height: 30px;
      font: {
        size: 13px;
      }
    }
  }
  .content {
    font: {
      family: $family;
      size: 18px;
    }
    @media (max-width: 769px) {
      font: {
        size: 12px;
      }
    }
  }
}
