@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

header {
  background-color: variables.$header-bg;
  padding: 20px 0;
  @include mixins.respond-to(M) {
    width: 335px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header-logo {
    height: 68px;
    width: 210px;
    @include mixins.respond-to(M) {
      height: 45px;
      width: 145px;
    }
  }

  nav {
    display: flex;
    gap: 57px;
    @include mixins.respond-to(M) {
      gap: 26px;
    }
  }

  .nav-link {
    color: variables.$text-color-header;
    font: {
      size: variables.$font-middle-size;
      weight: variables.$weight;
    }
    text-decoration: none;
    transition: text-decoration 0.3s ease;

    &:hover,
    &:visited {
      color: variables.$text-color-header;
    }

    &.active {
      color: variables.$text-color-header;
      text-decoration: underline;
    }
    @include mixins.respond-to(M) {
      font-size: variables.$font-responsive;
    }
  }
}
