@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins.scss" as mixins;

.container {
  .container-gallery {
    width: 1240px;
    background-color: variables.$gallery-bg;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-radius: 25px;
    padding: 60px 15px;
    gap: 50px;
    @include mixins.respond-to(M) {
      background: #fff;
      padding: 0 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 335px;
      gap: 20px;
    }
    .card {
      display: flex;
      justify-content: center;
      position: relative;
      overflow: hidden;
      @include mixins.respond-to(M) {
        width: 335px;
      }
      a {
        color: variables.$text-color;
        text-decoration: none;
      }
      figcaption {
        width: 300px;
        position: absolute;
        bottom: 30px;
        padding: 10px;
        font-weight: 700;
      }
      img {
        display: block;
        height: 340px;
        width: 340px;
        border-radius: 10px;
        object-fit: cover;
        @include mixins.respond-to(M) {
          width: 335px;
          height: 255px;
        }
      }
    }
  }
}
