@use "../../styles/main.scss" as *;

$color: #fff;
$bg-color: #f6f6f6;
$font-family: Montserrat;
$font-weight: 700;

.container {
  .container-gallery {
    width: 1240px;
    background-color: $bg-color;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    border-radius: 25px;
    padding: 60px 15px;
    gap: 50px;
    @media (max-width: 600px) {
      background: #fff;
      padding: 0 15px;
      gap: 0px;
    }
    .card {
      display: flex;
      justify-content: center;
      position: relative;
      overflow: hidden;
      a {
        color: $color;
        text-decoration: none;
      }
      figcaption {
        width: 300px;
        position: absolute;
        bottom: 30px;
        padding: 10px;
        font-family: $font-family;
        font-weight: $font-weight;
      }
      img {
        display: block;
        height: 340px;
        width: 340px;
        border-radius: 10px;
        object-fit: cover;
        @media (max-width: 600px) {
          width: 335px;
          height: 255px;
        }
      }
    }
  }
}
