// Variables sass
$footer-bg: #000;
$footer-text: #fff;
$footer-padding: 20px;

footer {
  background-color: $footer-bg;
  color: $footer-text;
  padding: $footer-padding 0;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  @media (max-width: 600px) {
    margin-top: 0;
  }

  // Nesting Sass
  .footer-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .footer-logo {
    width: 122px;
    height: 40px;
    padding: $footer-padding;
  }

  p {
    font: {
      family: Montserrat;
      weight: 500;
      size: 16px;
    }
    @media (max-width: 600px) {
      size: 12px;
    }
  }
}
