@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

footer {
  background-color: variables.$footer-bg;
  color: variables.$text-color;
  padding: 20px;
  width: 1440px;
  margin-top: 40px;
  @include mixins.respond-to(M) {
    margin-top: 0;
    width: 375px;
    display: flex;
  }

  .footer-container {
    width: 1440px;
    height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.respond-to(M) {
      width: 375px;
      justify-content: center;
    }
  }

  .footer-logo {
    width: 122px;
    height: 40px;
    margin-bottom: 30px;
  }

  p {
    font: {
      weight: variables.$weight;
      size: variables.$font-size-footer;
    }
    @include mixins.respond-to(M) {
      size: variables.$font-responsive-2;
    }
  }
}
.container-footer {
  display: flex;
  max-width: 100%;
  justify-content: center;
  margin: 30px;
}
