@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

footer {
  background-color: variables.$footer-bg;
  color: variables.$text-color;
  padding: 20px;
  width: 1440px;
  margin-top: 40px;
  @include mixins.respond-to(M) {
    margin-top: 0;
  }

  .footer-container {
    height: auto;
  }

  .footer-logo {
    width: 122px;
    height: 40px;
    margin-bottom: 30px;
  }

  p {
    font: {
      weight: variables.$weight;
      size: variables.$font-size-footer;
    }
    @include mixins.respond-to(M) {
      size: variables.$font-responsive-2;
    }
  }
}
