@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

.tags {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  li {
    background-color: variables.$bg-color;
    font-weight: variables.$weight;
    border-radius: 15px;
    width: 150px;
    height: 20px;
    color: variables.$text-color;
    text-align: center;
    @include mixins.respond-to(M) {
      width: 84px;
      font-size: variables.$font-responsive3;
      padding: 3px;
    }
  }
}
