$color: rgba(255, 96, 96, 1);
$family: Montserrat;

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  color: $color;
  font: {
    family: $family;
  }
  h1 {
    margin: 90px auto;
    font: {
      size: 288px;
    }
  }
  p {
    font: {
      size: 36px;
    }
  }
  .link-error {
    color: black;
    font-size: 18px;
    font-weight: 500;
  }
}
