@use "../../styles/abstracts/variables" as variables;
@use "../../styles/abstracts/mixins" as mixins;

.error404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  color: variables.$text-color3;
  @include mixins.respond-to(M) {
    gap: 100px;
  }
  h1 {
    margin: 90px auto;
    font: {
      size: 288px;
    }
    @include mixins.respond-to(M) {
      font-size: 96px;
    }
  }
  p {
    font-size: 36px;
    @include mixins.respond-to(M) {
      margin-bottom: 50px;
    }

    @include mixins.respond-to(M) {
      font-size: 18px;
      text-align: center;
    }
  }
  .br-responsive {
    display: none;
    @include mixins.respond-to(M) {
      display: block;
    }
  }
  .link-error {
    color: black;
    font-size: 18px;
    font-weight: 500;
    @include mixins.respond-to(M) {
      font-size: 14px;
    }
  }
}
