@use "../../styles/abstracts/variables" as variables;

.container-banner {
  display: flex;
  justify-content: center;
}
.banner {
  width: 1240px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
  }
  @media (max-width: 600px) {
    width: 335px;
    height: 111px;
  }
  h1 {
    font-family: variables.$font-main;
    color: variables.$text-color;
    font-size: 48px;
    z-index: 1;
    text-shadow: 1px 1px 2px black;
    @media (max-width: 600px) {
      font-size: 24px;
      padding-left: 20px;
    }
  }
}
