$banner-BR: 20px;
.container-banner {
  display: flex;
  justify-content: center;
}
.banner {
  width: 1240px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  border-radius: $banner-BR;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  @media (max-width: 600px) {
    width: 335px;
    height: 111px;
  }
}
