@use "../../styles/abstracts/mixins" as mixins;

.container-banner {
  display: flex;
  justify-content: center;
}
.bannerAbout {
  width: 1240px;
  height: 220px;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
  }
  @include mixins.respond-to(M) {
    width: 335px;
    height: 111px;
  }
}
